/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

/* Global */
html, body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0.5rem 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}

p {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: .5rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Layout */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Header */
.header {
  padding-bottom: 2.5rem;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #cbecf8;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  height: 9rem;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.nav li {
  list-style: none;
  margin-right: 1rem;
  margin-bottom: 0.3rem;
}

.nav a {
  text-decoration: none;
  color: #333333;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.nav a:hover {
  color: #007bff;
  cursor: pointer;
}
.hamburger {
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 0.5rem; 
  padding-bottom: 0rem; 
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}

.info-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.info-container p {
  font-size: 1.5rem;
  text-align: center;
}

.portrait-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.portrait-img {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* About Me */
#About {
  background-color: #ebebeb;
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
}

.about-img {
  max-width: 50%;
}

.skills-section {
  padding-top: 2rem;
}

.skills-section h2 {
  justify-content: center;
  display: flex;
}

.books-section {
  padding-top: 4rem;
}
.books-section h2 {
  justify-content: center;
  /* align-items: center; */
  /* font-size: large; */
  display: flex;

}

.books {
  height: 35rem;
  width: 35rem;
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.books img {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  justify-content: center;
}
.column {
  flex: 25%;
  max-width: 15%;
  padding: 0 10px;
}
.column img {
  margin-top: 8px;
  height: 5rem;
  width: 5rem;
  vertical-align: middle;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-auto-columns: 3;
  grid-auto-rows: 3;
}
.skills-section {
  display: grid;
}

/* Projects */
#Projects {
  background-color: #f7f7f7;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#Projects h2 {
  padding-bottom: 1rem;
}

.project-section {
  align-items: center;
  display: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.project-section img {
  height: 45rem;
  width: 50rem;
  display: flex;
  max-width: 100%;
}

.project-section p {
  padding-top: 2rem;
}

/* Blogs */
#Blogs {
  background-color: #f7f7f7;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#Contact {
  background-color: #ebebeb;
  /* padding-top: 4.5rem; */
  /* max-height: 100px; */
  height: -10%;
  /* padding-bottom: 6.5rem; */
  /* min-height: 500px; */
  }

  .contact {
  padding-top: -1rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: -8rem;

  }

  .title {
    display: flex;
    /* padding-left: 10px; */
    /* padding-top: -5rem; */
    /* margin-top: -15rem; */
    /* align-items: flex-start; */
    /* justify-content: center; */
    /* height: 100%; */
  }
  .contact-info {
    /* min-height: 400px; */
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media (max-width: 967px) {
    /* .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 85%;
    right: 25px;
    transform: translateY(-50%);
      display: block;
    } */


  .header {
    padding-bottom: 1.5rem;
  }
  .nav {
    flex-direction: column;
    height: 10rem;
    background-color: #0a6484;
  }

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.nav li {
  list-style: none;
  margin-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: #333333;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.link-container {
  padding-top: 1.0rem;
  padding-left: 3rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
  .link-container ul {
    display: contents;
  }
  .info-container {
    padding: 0.0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0.0rem;
    display: none;
  }
  .info-container h1 {
    font-size: 1.5rem;
  }
  .info-container p {
    display: none;
  }
  .portrait-img {
    width: 5rem;
    height: 5rem;
    margin-bottom: .8rem;
  }

  #About {
    padding-top: 4.5rem;
    padding-bottom: 1.5rem;
  }
  .about-img {
    max-width: 50%;
    margin-bottom: -1rem;
  }

.books-section {
  /* padding-left: 1rem; */
  justify-content: center;
  align-content: center;
  max-width: 90%;
  /* display: flex; */
}

/* .books {
  height: 15rem;
  width: 13rem;
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  margin-left: 4rem;
} 
*/

.books {
  height: auto;
  width: 90%;
  max-width: 35rem;
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  margin: 0 auto; /* centers the container horizontally */
}

.books img {
  max-width: 100%;
  max-height: 10rem;
  padding: 0 1rem;
  /* padding-left: 1rem; */
  /* padding-right: 1.5rem; */
}

  #Projects {
    padding-top: 1.5rem;
  }

.project-section {
  align-items: center;
  display: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.project-section img {
  height: 15rem;
  width: 20rem;
  display: flex;
  max-width: 100%;
}
.project-section p {
  flex-wrap: wrap;
  width: 70%;
  margin-left: 1.5rem;
}
.project-section li {
  margin-left: 7.5rem;
  /* padding-left: 1.5rem; */
  flex-wrap: wrap;
  width: 60%;
}

  #Blogs {
    padding-top: 1.5rem; 
  }
  
  #Contact {
    height: -10%;
    }

  .title {
    padding-top: 5rem;
  }
  
}

